* {
    box-sizing: border-box;
  }

body {
    background-color: #ffffff   ;
    color: #000000;
    margin: 0% 0% 0% 0%;
}

.header {
    font-size: 1.5em;
    text-align: center;
    border-bottom: 0.1em solid black;
}

.navbar {
    text-align: center;
    border-bottom: 0.1em solid black;
}

.navbar ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 0;
    list-style: none;
}

.navbar a {
    font-family: monospace;
    font-size: 1.50em;
    font-weight: 900;
    color: #000000;
    text-decoration: none;
}

.navbar a:active {
    opacity: 0.8;
}

.navbar a:hover {
    background-color: #000000;
    font-weight: bolder;
    color: #ffffff;
    padding: 0.3em;
    border-radius: 0.2em;
}

.navbar a.current-page {
    background-color: #000000;
    color: #ffffff;
    padding: 0.3em;
    border-radius: 0.2em;
}

@media screen and (max-width: 900px) {
    .navbar ul {
        display: block;
        list-style: none;
    }

    .navbar li {
        padding-bottom: 10px;
    }
}

.header_video {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.text_video {
    position: relative;
    font-size: 6em;
    color: #ffffff;
    text-align: center;
    margin: 1em 0 0 0;
}

.quote_video {
    position: relative;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin: 0 0 0 0;
}

.header_video input[type=search] {
    position: relative;
    width: 15%;
    text-align: center;
    margin: 1% 43%;
    border: 1px solid rgb(44, 44, 44);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    border-radius: 3px;
}

.header_video video {
    position: absolute;
    width: auto;
    height: auto;
    z-index: -1;
    top: 0em;
    transform: translate(-20%,-40%);
}

.workoutplan h1 {
    color: #000000;
    font-family: monospace;
    font-size: 35px;
    margin: 3% 2% 0% 2%;
    padding-bottom: 5px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.workouttips h3 {
    font-family: monospace;
    text-transform: uppercase;
    color: #000000;
    align-items: center;
    margin-top: 130px;
}

.workouttips  div {
    display: inline-block;
    position: relative;
    font-family: monospace;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 27px;
    font-stretch: semi-expanded;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    height: 320px;
    width: 206px;
    margin: 60px 18px 20px 30px;
    border: 5px solid black;
    border-radius: 10px;
}

.workouttips div:hover {
    display: inline-block;
    position: relative;
    font-family: monospace;
    background-color: #000000;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-stretch: semi-expanded;
    overflow: hidden;
    justify-content: space-around;
    text-align: center;
    height: 320px;
    width: 206px;
    margin: 25px 30px 25px 30px;
}

.workouttips div:hover h3 {
    margin-top: 0px;
}

.workoutbutton {
    text-align: center;
    margin-top: 2%;
}

.workoutbutton input{
    font-family: monospace;
    font-size: 25px;
    font-weight: 600;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
}

.workoutbutton input:hover {
    background-color: #000000;
    color: #ffffff;
    border: 0px;
}

.workoutbutton input:active {
    font-family: monospace;
    font-size: 25px;
    font-weight: 600;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
}

.nutritionsection {
    margin: auto;
}

.nutritionpoints {
    display: inline-block;
    position: relative;
}

.nutritionsection h1 {
    color: #000000;
    font-family: monospace;
    font-size: 35px;
    margin: 3% 2% 0% 2%;
    padding-bottom: 5px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.nutritionpoints video {
    float: left;
    width: 355px;
    height: auto;
    margin: 3% 4% 3% 6%;
}

.nutritionpointstext {
    margin: 5% 4% 3% 3%;
}

.nutritionpoints h3 {
    font-size: 22px;
    font-family: monospace;
    text-transform: uppercase;
    color: #000000;
    align-items: left;
}

.nutritionpoints ol{
    font-family: monospace;
    font-size: 22px;
    font-weight: bold;
}

.nutritionpoints p{
    font-family: monospace;
    font-size: 18px;
    font-weight: lighter;
    overflow: hidden;
    text-align: left;
}

.nutritionbutton{
    text-align: center;
}

.nutritionbutton input{
    font-family: monospace;
    font-size: 25px;
    font-weight: 600;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
}

.nutritionbutton input:hover {
    background-color: #000000;
    color: #ffffff;
    border: 0px;
}

.nutritionbutton input:active {
    font-family: monospace;
    font-size: 25px;
    font-weight: 600;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
}

.wellnesssection {
    margin: 0% 0% 0% 0%;
}

.wellnesssection h1 {
    color: #000000;
    font-family: monospace;
    font-size: 35px;
    margin: 3% 2% 0% 2%;
    padding-bottom: 5px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.wellnesssection p {
    color: #000000;
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    margin: 50px 30px 30px 30px;
}

.wellnesspoints > div {
    display: grid;
    margin: 0px 0px 0px 0px;
}

.wellnesspoints h3 {
    color: #000000;
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    margin: 0%;
}

.wellnesspoints p {
    font-size: 20px;
    text-align: center;
    margin: 20px;
}

.wellnesspara p {
    font-size: 20px;
    text-align: left;
    margin: 3% 8% 3% 10%;
}

.wellnesspara span {
    font-weight: bolder;
}

.wellnesspara a {
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    opacity: 0.6;
    padding: 0px 20px;
    font-size: 18px;
}

.wellnesspara a:hover {
    opacity: 1;
    font-weight: bold;
}

.newslettersection h1 {
    color: #000000;
    font-family: monospace;
    font-size: 35px;
    margin: 3% 2% 0% 2%;
    padding-bottom: 5px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.newslettersection p {
    color: #000000;
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    margin: 30px 30px 30px 30px;
}

.newletterform {
    width: 500px;
    height: 285px;
    background-color: #ffffff;
    box-shadow: 1px 2px 7px 1px black;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
    margin-bottom: 60px;
}

.newletterform legend {
    font-size: 25px;
    font-family: monospace;
    text-align: left;
    margin: 30px 0px 10px 0px;
    display: inline-block;
    box-sizing: content-box;
    margin: 8px 60px;
}

.newletterform input[type=email] {
    border: 1px solid black;
    border-radius: 2px;
    width: 100%;
    padding: 5px 20px;
    display: inline-block;
    box-sizing: content-box;
    margin: 8px 60px;
    text-align: center;
}

.newletterform input[type=password] {
    border: 1px solid black;
    border-radius: 2px;
    width: 100%;
    padding: 5px 20px;
    display: inline-block;
    box-sizing: content-box;
    margin: 8px 60px;
    text-align: center;
}

.newletterform input[type=submit] {
    border: 1px solid black;
    border-radius: 2px;
    width: 50%;
    padding: 5px 5px;
    margin: 20px 50px 0px 165px;
    background-color: #000000;
    color: #ffffff;
    font-family: monospace;
    font-size: 18px;
    text-align: center;
}

.newletterform input[type=submit]:hover{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
    background-color: #ffffff;
    color: #000000;
    font-weight: bolder;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #000000;
    margin: 0 4px;
    font-family: monospace;
    font-size: 1.3em;
}

  .pagination a.active {
    background-color: #000000;
    color: white;
    border: 1px solid #000000;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.footer {
    display: inline-flex;
    background-color: #000000;
    width: 100%;
    height: 100%;
}

.logo_contact {
    display: grid;
    grid-template-rows: 33.3% 33.3% 33.3%;
    text-align: center;
    padding-right: 5%;
    padding-left: 2%;
    border-right: 1px solid white;
}

.footer h2 {
    font-size: 28px;
    color: #ffffff;
    text-decoration: underline;
    text-align: center;
    padding: 8% 0% 0% 0%;
}

.footer h4 {
    font-family: monospace;
    font-size: 18px;
    color: #ffffff;
    padding-top: 1%;
    margin: 12% 0 0 0;
}

.footer img {
    width: 12%;
    margin-top: 0%;
    padding-top: 0%;
}

.footer img:hover {
    opacity: 0.5;
}

.footer img:active {
    opacity: 1;
    width: 12%;
}

.links {
    text-align: center;
    margin-top: 2%;
}

.links ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    list-style: none;
}


@media screen and (max-width: 900px) {
    .links ul {
        display: block;
    }

    .links p {
        display: block;
        text-align: center;
        padding-bottom: 10px;
    }
}

.links a {
    color: #ffffff;
    font-family: monospace;
    font-size: 22px;
    text-decoration: none;
    transition: all 0.3s;
}

.links a:hover {
    text-decoration: underline;
}

.links a:active {
    opacity: 0.9;
    font-size: 21px;
    font-weight: bolder;
}

.links p {
    color: #ffffff;
    font-family: monospace;
    font-size: 15px;
    font-weight: lighter;
    opacity: 0.8;
    padding-left: 6%;
}